#hero{
    margin: 0%;
    >div {
        background-image: url(../img/Kapoor-Motion-P1-herospot.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        padding-right: 5vw;
        height: 100vh;
        position: relative;
        z-index: 1;

        #experienceart {
            section{
                h1{
                    font-size: 120px;
                    color: white;
                    padding-top: 15%;
                    font-family: 'Prata', serif;
                    white-space: nowrap
                }
            }
        }
        #herologo{
            position: absolute;
            bottom: 26px;
            #herologosvg{
                width: 80%;
                padding-right: 0% ;
            }
        }
    }
}