header{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;
    display: grid;
    grid-template-columns: 5% 10% 50% 30% 5%;
    grid-template-areas: ". logo . nav .";
    padding: 10px 16px;
    #logo{
        grid-area: logo;
    }
    #nav{
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        padding-top: 3%;
        #nav1{
            grid-area: nav1;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            color: black;
        }
        #nav2{
            grid-area: nav2;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            color: black;
        }
        #nav3{
            grid-area: nav3;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            color:#671818;
        }
    }

    }